{% extends 'base.html' %}

{% block title %}
Diary
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">Tagebuch</h1>
    <div class="posts_wrapper">

        {% for item in posts %}

            <div class="post_item">
                <div class="post_item_header">
                    <div class="post_item_title standard_text bold_text">
                        {{ item.title }}
                    </div>
                </div>
                <div class="post_item_body standard_text align_justify">
                    {{ item.text }}
                </div>
                <div class="post_item_link standard_text">
                    <a href="{{ item.link }}" class="standard_text">{{ item.link }}</a>
                </div>
                <div class="post_item_date standard_text bold_text">
                    {{ item.date.date() }}
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
