{% extends 'base.html' %}

{% block title %}
Anmeldung
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">Anmeldung</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    <form action="" method="post" class="login_register">
        <p class="standard_text">Fügen Sie die E-Mail hinzu</p>
        <input id="email" type="email" class="standard_text" name="email" type="text" placeholder="E-Mail hinzufügen" autofocus>
        <p class="standard_text">Fügen Sie das Passwort hinzu</p>
        <input id="password" type="password" class="standard_text" name="password" type="text" placeholder="Passwort hinzufügen">
        <input type="submit" class="button_page" value="Speichern">
        <a href="{{ url_for('register') }}" class="link_page">Registration</a>
    </form>
</div>

{% endblock %}
