{% extends 'base.html' %}

{% block title %}
Neues Post
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">Neues Post</h1>
    <div class="form_wrapper">
        <form action="" method="post">
            <p class="standart_text">Fügen Sie den Titel hinzu</p>
            <input id="post_titel"
                   class="standart_text"
                   name="title"
                   type="text"
                   placeholder="Titel hinzufügen" autofocus required>
            <p class="standart_text">Fügen Sie den Text hinzu</p>
            <textarea id="post_body"
                      class="standart_text"
                      name="text"
                      placeholder="Text hinzufügen" required></textarea>

            <p class="standart_text">Fügen Sie den Link hinzu</p>
            <input id="post_link"
                   class="standart_text"
                   name="link"
                   type="text"
                   placeholder="Link hinzufügen" required>
            <input type="submit" class="button_page button_page_left" value="Speichern">
        </form>
    </div>
</div>

{% endblock %}
