{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">Projekte</h1>
    <div class="project_wrapper">

        {% for item in projects %}

            <div href="/projects/{{ item.id }}" class="project_item">
                <div class="project_item_header">
                    <div class="project_item_capture"
                         style="background-image: url(/{{ item.capture }})">
                    </div>
                </div>
                <div class="project_item_body">
                    <div class="project_item_title standard_text bold_text align_center">
                        <a href="/projects/{{ item.id }}">{{ item.title }}</a>
                    </div>
                    <p class="standard_text align_justify">
                        {{ item.description_1 }}
                    </p>
                    <div class="project_item_footer">
                        <span class="project_item_date standard_text bold_text">
                            {{ item.date.date() }}
                        </span>
                        <a href="/projects/{{ item.id }}" class="standard_text bold_text align_right">Zum Projekt</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
