{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">{{ project.title }}</h1>
    <div class="single_page_wrapper">
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body single_page_item_capture"
                 style="background-image: url(/{{ project.capture }})">
            </div>
        </div>

        <h2 class="single_page_chapter_header">Beschreibung</h2>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_1 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_2 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_3 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_4 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_5 | safe }}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_6 | safe}}
            </div>
        </div>

        <h2 class="single_page_chapter_header">Ergebnis</h2>
        <div class="single_page_item {{ project.result_1_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_1_title }} </h3>
                <div class="single_page_item_body standard_text align_justify">
                    {{ project.result_1_body | safe}}
                </div>
        </div>
        <div class="single_page_item {{ project.result_2_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_2_title | safe }}</h3>
                <div class="single_page_item_body standard_text align_justify">
                    {{ project.result_2_body | safe}}
                </div>
        </div>
        <div class="single_page_item {{ project.result_3_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_3_title | safe }}</h3>
                <div class="single_page_item_body standard_text align_justify">
                    {{ project.result_3_body | safe}}
                </div>
        </div>
        <div class="single_page_item {{ project.result_4_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_4_title | safe }}</h3>
                <div class="single_page_item_body standard_text align_justify">
                    <img src="/{{ project.result_4_body}}" alt="Ergebnis">
                </div>
        </div>
        <div class="single_page_item {{ project.result_5_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_5_title | safe }}</h3>
                <div class="single_page_item_body standard_text align_justify">
                    <img src="/{{ project.result_5_body}}" alt="Ergebnis">
                </div>
        </div>
        <div class="single_page_item {{ project.result_6_css_class }}">
            <h3 class="single_page_item_header">{{ project.result_6_title | safe }}</h3>
                <div class="single_page_item_body standard_text align_justify">
                    <img src="/{{ project.result_6_body}}" alt="Ergebnis">
                </div>
        </div>

        <div class="single_page_item">
            <div class="single_page_item_body standard_text align_justify github_project_link">
                <a href="{{ project.github }}"></a>
            </div>
        </div>

        <div class="single_page_item">
            <div class="single_page_item_body standard_text">
                Datum: {{ project.date.date() }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
