{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">{{ project.title }}</h1>
    <div class="single_page_wrapper">
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body single_page_item_image"
                 style="background-image: url(/{{ project.capture }})">
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header">Beschreibung</h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_1 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_2 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_3 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_4 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_5 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header"></h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.description_6 | safe}}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header">Quelle</h2>
            <div class="single_page_item_body standard_text">
                {{ project.source }}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header">GitHub</h2>
            <div class="single_page_item_body standard_text">
                {{ project.github }}
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header">Videos</h2>
            <div class="single_page_item_body">
                <div class="videos_wrapper">
                    <div class="video_item">{{ project.video_1 | safe }}</div>
                    <div class="video_item">{{ project.video_2 | safe }}</div>
                    <div class="video_item">{{ project.video_3 | safe }}</div>
                </div>
            </div>
        </div>
        <div class="single_page_item">
            <h2 class="single_page_item_header">Notizen</h2>
            <div class="single_page_item_body standard_text align_justify">
                {{ project.notice }}
            </div>
        </div>
        <div class="single_page_item">
            <div class="single_page_item_header">Hinzugefügt</div>
            <div class="single_page_item_body standard_text">
                {{ project.date.date() }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
