{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1 class="content_header">Registration</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    <form action="" method="post" class="login_register">
        <p class="standart_text">Fügen Sie die E-Mail hinzu</p>
        <input id="email" type="email" class="standart_text" name="email" type="text" placeholder="E-Mail hinzufügen" autofocus>
        <p class="standart_text">Fügen Sie das Passwort hinzu</p>
        <input id="password" type="password" class="standart_text" name="password" type="text" placeholder="Passwort hinzufügen">
        <p class="standart_text">Bestätigen Sie das Passwort</p>
        <input id="password_retype" type="password" class="standart_text" name="password_retype" type="text" placeholder="Passwort hinzufügen">
        <input type="submit" class="button_page" value="Speichern">
        <a href="{{ url_for('login') }}" class="link_page">Anmeldung</a>
    </form>
</div>

{% endblock %}
