{% extends 'base.html' %}

{% block title %}
Technologie
{% endblock %}

{% block body %}

<div class="content_body technology_page_content page_pattern">
    <h1 class="content_header">Technologie</h1>
    <div class="technology_wrapper">

        {% for item in technologies %}

            <div class="technology_item">
                <div class="technology_item_header">
                    <a href='{{ item.link }}'
                       class="technology_item_capture"
                       style="background-image: url(/{{ item.logo }})">
                    </a>
                </div>
                <div class="technology_item_body">
                    <div class="technology_item_title standard_text bold_text align_center">
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    </div>
                    <p class="standard_text align_justify">
                        {{ item.description }}
                    </p>
                </div>
                <div class="technology_item_link standard_text bold_text align_right">
                    <a href="{{ item.link }}">Mehr lesen</a>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
