.bx-wrapper {
    webkit-box-shadow: 0 0 0 #ffffff !important;
    box-shadow: 0 0 0 #ffffff !important;
    border: 0 solid #ffffff !important;
}

.slider_item {
    height: 600px;
    background-size: cover;
}

.slider_item_1 {
    background-image: url("/static/images/slider_1.jpg");
    background-position: 50% 80%;
}

.slider_item_2 {
    background-image: url("/static/images/slider_2.jpg");
    background-position: 50% 70%;
}

.slider_item_3 {
    background-image: url("/static/images/slider_3.jpg");
}

.slider_item_4 {
    background-image: url("/static/images/slider_4.jpg");
    background-position: 50% 80%;
}

.layout {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    background-color: #000000;
    opacity: 0.5;
}

.slider_text_wrapper {
    width: 960px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 50px auto 0;
    padding: 30px;
}

.slider_text_wrapper p {
    color: #ffffff;
    font-size: 30px;
    opacity: 1;
}

.statistic_wrapper {
    padding: 0 0 70px 0;
}

.block_header {

}

.statistic_item {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 50px) / 3);
    box-sizing: border-box;
    margin: 0 20px 0 0;
}

.statistic_item:last-of-type {
    margin: 0;
}

.statistic_item a {
    display: block;
    color: #19a5c8;
    font-size: 72px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin: 0 0 30px 0;
}

.statistic_item_name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.new_projects_item {
    display: inline-block;
    vertical-align: top;
    width: 49,9%;
}

.technology_wrapper {

}

.technology_wrapper .technology_item_logo {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 10px;
}

