.technology_item {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    margin: 0 20px 60px 0;
    padding: 10px;
}

.technology_item:nth-of-type(3n) {
    margin: 0 0 60px 0;
}

.technology_item_header {
    margin: 0 0 20px 0;
}

.technology_item_header div {
    display: inline-block;
    vertical-align: top;
}

.technology_item_logo {
    width: 130px;
    height: 48px;
}

.technology_item_title {
    width: calc(100% - 135px);
    line-height: 48px;
    text-align: right;
}

.technology_item_description {
    text-align: justify;
}

.technology_item_link {
    color: #19a5c8;
    text-align: right;
}

