.technology_item {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 50px) / 3);
    box-sizing: border-box;
    -webkit-box-shadow: -1px 4px 8px 0px rgb(132 151 165 / 20%);
    -moz-box-shadow: -1px 4px 8px 0px rgba(132, 151, 165, 0.2);
    box-shadow: -1px 4px 8px 0px rgb(132 151 165 / 20%);
    margin: 0 20px 60px 0;
    padding: 30px;
}

.technology_item:nth-of-type(3n) {
    margin: 0 0 60px 0;
}

.technology_item_header {
    margin: 0 0 20px 0;
}

.technology_page_content .technology_item_capture {
    display: block;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 0 30px 0;
}

.technology_item_title {
    margin: 0 0 20px 0;
}

.technology_item_title a {
    font-size: 22px;
    color: #036A82;
}

.technology_item_body p {
    height: 148px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.technology_item_link a {
    color: #036A82;
}

